.navbar-form input {
	margin-right: 5px;
}
.navbar-form input:first-child {
	margin-left: 5px;
}

#navbar.in > form > input {
	margin-top: 5px;
}
.ticketContainer {
	position: relative;
}
.ticketContainer .ticketDelete {
	position: absolute;
	bottom:20px;
	right:20px;
}
/*Basically overwriting default bootstrap buttons so it doesnt look like default until you hover*/
.btn-danger{
	color: #000;
	background: none;
}
.btn-danger:hover {
	color: #fff;
	background: #d43f3a;
}
/*Really nitpicky. the x looked off center.*/
.btn-danger .glyphicon {
	top: 3px;
}

@font-face {
	font-family: 'autoBarcode';
	src: url("fre3of9x.ttf");

}
#text3416 {
	font-family: 'autoBarcode';
}


#searchBar {
	padding: 150px 10vw 150px 10vw;
	background-image: url("http://az616578.vo.msecnd.net/files/2016/08/25/6360774233678669081662542485_concert.jpg");
	background-size: fixed;
}



.navbar {
	margin-bottom: 0px;
}
