.navbar-form input {
	margin-right: 5px;
}
.navbar-form input:first-child {
	margin-left: 5px;
}

#navbar.in > form > input {
	margin-top: 5px;
}

#searchBar {
	padding: 150px 10vw 150px 10vw;
	background-image: url("http://az616578.vo.msecnd.net/files/2016/08/25/6360774233678669081662542485_concert.jpg");
	background-size: fixed;
}



.navbar {
	margin-bottom: 0px;
}
